#title {
   color: teal;
   font-family: "Avenir";
   text-align: center;
}

body {
    background: powderblue;
    font-family: "Avenir";
    text-align: center;
}

p {
   color: #6d6d6d;
}

h1 {
   font-weight: bold;
   color: #6d6d6d;
   font-family: "Avenir";
   text-align: center;
}

h2 {
   font-style: italic;
   font-weight: normal;
   color: #6d6d6d;
   font-family: "Avenir";
   text-align: center;
}